* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', Times, serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1rem;
    color: #333;
    background-color: #f5f5f2;
    overflow: auto;
}

.container {
    max-width: 1200px;
    min-width: 65%;
    margin: 0 auto; /* The 'auto' is for the horizontal margins */
    padding: 0 20px;
}

header {
  background-color: #1c1c1c;
  color: #f5f5f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
}

header p {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
}

papertitle {
  font-size: 1.125rem;
  font-weight: 700
}

.paper_hl {
  width: 100%;
  border: 2px solid #ccc;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none!important;
}

.paper_hl:last-of-type{
  margin-bottom: 0px;
}

.paper_hl p {
  text-decoration: none!important;
  color: #333;
}

.paper_hl p:last-of-type {
  margin-bottom: 0;
}

.paper_hl a:link {
  color: #001cd1;
  text-decoration: none;
  /* transition: color 0.3s ease; */
}

.paper_hl a:visited {
  color: #a8a803;
  text-decoration: none;
  /* transition: color 0.3s ease; */
}

.paper_hl a:hover {
  text-decoration: none !important;
  color: #fac402!important;
}

.paper_hl:hover {
  text-decoration: none !important;
  background-color: #eeeed0!important;
  color: #fac402!important;
  border: 2px solid #fac402;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition: background-color 0.4s ease-in-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

/* nav li:first-child { */
  /* margin-left: 0; */
/* } */

nav a {
    color: #f5f5f2;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 300;
    transition: color 0.3s ease-out;
    transition: background-color 0.5s ease-out;
    -moz-transition: color 0.3s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
}

nav a:hover {
    background-color: #552;
    color: #fae102;
}

main {
    padding: 10px 0;
    margin: 50px;
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

p a:link,
td a:link {
    color: #001cd1;
    text-decoration: none;
    /* transition: color 0.3s ease; */
}

p a:visited,
td a:visited {
    color: #a8a803;
    text-decoration: none;
    /* transition: color 0.3s ease; */
}

p a:hover,
td a:hover {
    color: #fae102;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 20px; */
}

footer {
  background-color: #1c1c1c;
  color: #f5f5f2;
  padding: 1px;
  margin: 30px 0 0 0;
}

footer p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.about_img {
  padding:0%;
  width:25%;
  max-width:400px;
  min-width:10%;
  vertical-align:middle;
  display:inline-block
}

.about_txt {
  padding:0%;
  margin-bottom:0;
  width:70%;
  max-width:100%;
  vertical-align:middle;
  display:inline-block;
}

.contact_info {
  display: table;
  border-spacing: 10px 0;
  margin-left: -10px;
}

.contact_line {
  display: table-row;
}

.ct_cell {
  display: table-cell;
}

#contact a {
  text-decoration: none;
}

#contact a:link {
    color: #001cd1;
}

#contact a:visited {
    color: #a8a803;
}

#contact a:hover {
    color: #fae102;
}

.ct_cell a {
  text-decoration: none;
}

.ct_cell a:link {
    color: #001cd1;
}

.ct_cell a:visited {
    color: #a8a803;
}

.ct_cell a:hover {
    color: #fae102;
}

/* Mobile layout */
@media only screen and (max-width: 767px) and (min-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .header-content {
    order: 2;
    text-align: center;
    margin-top: 1rem;
  }
  nav {
    order: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  nav a {
    display: block;
    padding: 0.5rem 0.4rem;
    margin: auto;
  }
  nav li {
    list-style: none;
    margin: 5px auto;
  }
  nav ul {
    display: flex;
  }
  main {
    margin: 20px 10px;
  }
  section {
    margin-bottom: 20px;
  }
  .main {
    padding: 1rem;
  }
  .hidden-mobile {
    display: none;
  }
  .container {
    order: 2;
    margin-top: 1rem;
  }
  .about_img {
    display: block;
    width: 40%;
    margin: 0px auto 20px auto;
    order: 1;
  }
  .about_txt {
    width: 100%;
    order: 2;
  }
  #about .container {
    display: flex;
    flex-direction: column;
  }
  .header-content h1 {
    font-size: 1.875rem;
  }
  .header-content h2 {
    font-size: 1.125rem;
  }
  /* .about_img img { */
    /* display: none; */
    /* width: 0%; */
  /* } */
  /* .about_img a { */
    /* display: none; */
    /* width: 0%; */
  /* } */
}

/* Smaller mobile layout */
@media only screen and (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  h2 {
      margin-bottom: 10px;
      font-size: 1.25rem;
  }
  .header-content {
    order: 2;
    text-align: center;
    margin-top: 0.5rem;
  }
  nav {
    order: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  nav a {
    display: block;
    padding: 0.5rem 0.4rem;
    margin: auto;
  }
  nav li {
    list-style: none;
    margin: 5px auto;
  }
  nav ul {
    display: flex;
  }
  main {
    margin: 20px 10px;
  }
  section {
    margin-bottom: 20px;
  }
  .main {
    padding: 1rem;
  }
  .hidden-mobile {
    display: none;
  }
  .container {
    order: 2;
    margin-top: 0.75rem;
  }
  .about_img {
    display: block;
    width: 40%;
    margin: 0px auto 20px auto;
    order: 1;
  }
  .about_txt {
    width: 100%;
    order: 2;
  }
  #about .container {
    display: flex;
    flex-direction: column;
  }
  .header-content h1 {
    font-size: 1.7rem;
  }
  .header-content h2 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.0625rem;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  body {
    font-size: 0.9375rem;
  }
  /* .about_img img { */
    /* display: none; */
    /* width: 0%; */
  /* } */
  /* .about_img a { */
    /* display: none; */
    /* width: 0%; */
  /* } */
}

/* Slightly smaller mobile layout */
@media only screen and (max-width: 475px) {
  .header-content h1 {
    font-size: 1.52rem;
  }
}

/* Smaller mobile layout */
@media only screen and (max-width: 405px) {
  .header-content h1 {
    font-size: 1.32rem;
  }
  /* .header-content h2 { */
    /* font-size: 1.0625rem; */
  /* } */
  body {
    font-size: 0.9rem;
  }
}

/* Tiny layout */
@media only screen and (max-width: 345px) {
  nav {
    display: none;
  }
  .container {
    padding: 0 5px;
  }
  #contact .contact_line {
    font-size: 0.8rem;
  }
  .contact_info {
    display: block;
    margin-left: 0;
  }
  .contact_line {
    display: block;
  }
  .ct_cell {
    display: block;
  }
  .about_img {
    display: block;
    width: 60%;
    margin: 0px auto 20px auto;
    order: 1;
  }
}

/* Smaller-screen layout */
@media only screen and (max-width: 1200px) and (min-width: 767px){
  nav ul {
    display: block;
  }
  .header-content h1 {
    font-size: 2rem;
  }
  .header-content h2 {
    font-size: 1.25rem;
  }
}
